$unt-green: #007A33;
$unt-light-green: #00B140;
$unt-lime: #509E2F;
$unt-dark-green: #00672B;
$unt-bottle-green: #006747;
$blackish: #333333;
$unt-cool-gray: #53565A;
$unt-lemon: #C4D600;
$unt-blue: #009DCD;
$unt-purple: #AD1AAC;
$unt-rose: #EF4A81;
$unt-light-blue: #C1E1D7;
$unt-pink: #FFB1BB;


